<template>
  <div>
      <!-- modal add -->
      <b-modal id="modal-1" size="lg" title="เพิ่มข้อมูลหน่วยงาน" @ok="submit" ok-title = "ตกลง" cancel-title = "ยกเลิก">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ชื่อ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="name"
                v-model="form.agency_name"
                placeholder="ตัวอย่าง คณะวิทยาการสารสนเทศ"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">คำอธิบายเกี่ยวกับหน่วยงาน</label>
            </b-col>
            <b-col sm="10">
              <b-form-textarea
                id="textarea"
                v-model="form.agency_description"
                placeholder="ตัวอย่าง เป็นหน่วยงานที่ดูแลและจัดการเกี่ยวกับคณะวิศวกรรมศาสตร์"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form }}
      </pre
          >
        </b-card>
      </b-modal>
      <!-- modal-edit -->
      <b-modal id="modal-2" size="lg" title="แก้ไขข้อมูลหน่วยงาน" @ok="update" ok-title = "ตกลง" cancel-title = "ยกเลิก">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ชื่อ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="name"
                v-model="form2.agency_name"
                placeholder="ตัวอย่าง คณะวิทยาการสารสนเทศ"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ผู้ดูแลหน่วยงาน</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.agency_admin"
                :options="userData2"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">คำอธิบายเกี่ยวกับหน่วยงาน</label>
            </b-col>
            <b-col sm="10">
              <b-form-textarea
                id="textarea"
                v-model="form2.agency_description"
                placeholder="ตัวอย่าง เป็นหน่วยงานที่ดูแลและจัดการเกี่ยวกับคณะวิศวกรรมศาสตร์"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form2 }}
      </pre
          >
        </b-card>
      </b-modal>
    <div style="margin-top: 30px; width: 1300px;">
  <h1 id="topic">การจัดการข้อมูลหน่วยงาน</h1>
  <b-row class="w-100 d-flex justify-content-end no-gutters mt-3 mb-3">
      <b-button variant="outline-success" v-b-modal.modal-1
        >เพิ่ม<b-icon icon="plus-circle" scale="1" class="ml-2"></b-icon
      ></b-button>
  </b-row>
  <div style="height: 550px; width: 1300px; overflow-y: scroll;">
  <div style="height: 800px;">
    <b-table hover :items="newagency" :fields="items">
      <template #cell(operators)="{ item }">
        <b-button @click="editAgency(item)" v-b-modal.modal-2>แก้ไข</b-button
        ><b-button class="ml-3" variant="danger" @click="deleteAgency(item)"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
  </div>
  </div>
  </div>
</template>

<script>
import { getAgencies, addAgency, deleteAgency, updateAgency, getAgency } from '../service/agency'
import { getUsers } from '../service/user'
export default {
  data () {
    return {
      newagency: [],
      items: [
        {
          key: 'agency_name',
          label: 'ชื่อหน่วยงาน'
        },
        {
          key: 'agency_admin',
          label: 'ผู้ดูแลหน่วยงาน'
        },
        {
          key: 'agency_description',
          label: 'คำอธิบายเกี่ยวกับหน่วยงาน '
        },
        { key: 'operators', label: '' }
      ],
      agency: [
        {
          agency_name: 'วิทยาการสารสนเทศ',
          agency_admin: '624d86bb8453fff20753c1c9',
          agency_description:
            'เป็นหน่วยงานที่ดูแลและจัดการเกี่ยวกับคณะวิศวกรรมศาสตร์'
        }
      ],
      userData2: [],
      userData: [],
      form: {
        agency_name: '',
        agency_description: ''
      },
      form2: {
        _id: '',
        agency_name: '',
        agency_admin: '',
        agency_description: ''
      }
    }
  },
  methods: {
    async getAgency () {
      this.agency = await (await getAgencies()).data
      console.log(this.agency)
      this.newagency = this.agency
    },
    async getUsers2 () {
      this.userData2 = []
      const agency = this.form2._id
      this.users = await getUsers()
      console.log('user', this.users)
      this.userData = this.users.data
      this.userData.forEach((item) => {
        console.log(agency)
        if (item.agency._id === agency && item.status.includes('แอดมินหน่วยงาน')) {
          console.log(item)
          const name = item.firstname + ' ' + item.lastname
          const x = { value: name, text: name }
          console.log(x)
          this.userData2.push(x)
        }
      })
      if (this.userData2.length === 0) {
        this.form2.agency_admin = ''
      }
      console.log('userData', this.userData)
      console.log('length', this.userData.length)
    },
    async submit () {
      console.log(this.form)
      await addAgency(this.form)

      location.reload()
      this.reset()
    },
    reset () {
      this.form = {
        agency_name: '',
        agency_users: '',
        agency_description: ''
      }
    },
    async deleteAgency (x) {
      if (confirm('คุณต้องการลบหรือไม่?') === true) {
        console.log('แอดมิน', x._id)
        await deleteAgency(x._id)
        location.reload()
      } else {
        console.log('You canceled!')
      }
    },
    async editAgency (item) {
      this.form2 = await (await getAgency(item._id)).data
      console.log(this.form2)
      this.getUsers2()
    },
    async update () {
      await updateAgency(this.form2, this.form2._id)
      location.reload()
    }
  },
  mounted () {
    this.getAgency()
  }
}
</script>
