<template>
  <div>
    <h1 id="topic" class="mt-4">การจัดการข้อมูลคนในหน่วยงาน</h1>
    <b-row class="w-100 d-flex justify-content-end no-gutters  mb-3">
      <!-- modal add -->
      <b-modal id="modal-1" size="lg" title="เพิ่มผู้ใช้" ok-title = "ตกลง" cancel-title = "ยกเลิก" @ok="submit">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="firstname">ชื่อ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="firstname"
                v-model="form.firstname"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="lastname">นามสกุล</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="lastname"
                v-model="form.lastname"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="username">บัญชีผู้ใช้</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="username"
                v-model="form.username"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="password">รหัสผ่าน</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                type="password"
                id="password"
                v-model="form.password"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">สถานะ</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.status"
                :options="statusx"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">หน่วยงาน</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.agency"
                :options="agencies"
              ></b-form-select>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form }}
      </pre
          >
        </b-card>
      </b-modal>
    </b-row>
    <b-modal id="modal-2" size="lg" title="แก้ไขข้อมูลคนในหน่วยงาน" @ok="update" ok-title = "ตกลง" cancel-title = "ยกเลิก" @cancel="cancel">
      <p class="mt-4">
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="firstname">ชื่อ</label>
          </b-col>
          <b-col sm="10">
            <b-form-input
              id="firstname"
              v-model="form2.firstname"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="lastname">นามสกุล</label>
          </b-col>
          <b-col sm="10">
            <b-form-input id="lastname" v-model="form2.lastname"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="username">บัญชีผู้ใช้</label>
          </b-col>
          <b-col sm="10">
            <b-form-input id="username" v-model="form2.username"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="name">สถานะ</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              v-model="form2.status"
              :options="statusx"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="name">หน่วยงาน</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              v-model="form2.agency"
              :options="agencies"
            ></b-form-select>
          </b-col>
        </b-row>
      </p>
      <b-card>
        <pre>
        {{ form2 }}
      </pre
        >
      </b-card>
    </b-modal>
    <b-table
      sticky-header
      responsive
      hover
      :items="user"
      :fields="items"
      style="min-height: 550px; min-width: 1220px"
    >
      <template #cell(operators)="{ item }">
        <b-button @click="editUser(item)" v-b-modal.modal-2>แก้ไข</b-button
        ><b-button class="ml-3" variant="danger" @click="deleteUser(item)"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import { getAgencies } from '../service/agency'
import { addUser, getUserByAgencyID, getUser, updateUser, delUser } from '../service/user'
export default {
  data () {
    return {
      statusx: [
        { value: ['นิสิต'], text: 'นิสิต' },
        { value: ['อาจารย์'], text: 'อาจารย์' },
        { value: ['คณบดี'], text: 'คณบดี' },
        { value: ['อาจารย์', 'ผู้พิจารณา'], text: 'อาจารย์, ผู้พิจารณา' },
        { value: ['คณบดี', 'ผู้พิจารณา'], text: 'คณบดี, ผู้พิจารณา' }
      ],
      items: [
        {
          key: 'firstname',
          label: 'ชื่อ'
        },
        {
          key: 'lastname',
          label: 'นามสกุล'
        },
        {
          key: 'username',
          label: 'บัญชีผู้ใช้'
        },
        {
          key: 'status',
          label: 'สถานะ'
        },
        {
          key: 'agency',
          label: 'หน่วยงาน'
        },
        { key: 'operators', label: '' }
      ],
      user: [],
      agencies: [],
      form: {
        firstname: '',
        lastname: '',
        username: '',
        password: '',
        status: [],
        agency: ''
      },
      form2: {
        firstname: '',
        lastname: '',
        username: '',
        status: [],
        agency: ''
      }
    }
  },
  methods: {
    async getUser () {
      const user = await getUser(JSON.parse(localStorage.getItem('user'))._id)
      console.log(user)
      console.log(user.data.agency)
      this.user = await (await getUserByAgencyID(user.data.agency)).data
      this.user.forEach((i) => {
        console.log('i is = ', i)
        i.agency = i.agency.agency_name
        i.status = i.status.toString()
      })
      console.log(this.user)
    },
    async getAgencies () {
      const ac = await (await getAgencies()).data
      ac.forEach((item) => {
        const x = { value: item._id, text: item.agency_name }
        this.agencies.push(x)
      })
    },
    async submit () {
      await addUser(this.form)
      location.reload()
    },
    async editUser (item) {
      this.form2 = JSON.parse(JSON.stringify((await getUser(item._id)).data))
    },
    async update () {
      var check = false
      this.user.forEach((item) => {
        if (item.username === this.form2.username && item._id !== this.form2._id) {
          check = true
        }
      })
      if (check === false) {
        await updateUser(this.form2._id, this.form2)
        location.reload()
      } else {
        alert('มีชื่อบัญชีผู้ใช้นี้อยู่ในระบบแน้วฮ้าฟ')
      }
    },
    async cancel () {
      location.reload(true)
    },
    async deleteUser (item) {
      if (confirm('คุณต้องการลบหรือไม่?') === true) {
        await delUser(item._id)
        location.reload()
      } else {
        console.log('You canceled!')
      }
    }
  },
  mounted () {
    this.getUser()
    this.getAgencies()
  }
}
</script>
