<template>
  <div style="margin-top: 40px; width: 1000px">
      <!-- modal add -->
      <b-modal id="modal-1" size="lg" title="เพิ่มลำดับผู้พิจารณา" ok-title = "ตกลง" cancel-title = "ยกเลิก"  @close="reset" @ok="submit" @cancel="reset">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ชื่อ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="name"
                v-model="form.approver_name"
                placeholder="ตัวอย่าง ผู้พิจารณาแบบที่ 1"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ลำดับที่ 1</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.approver_list[0]"
                :options="userData2"
                @change="checkApprover()"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ลำดับที่ 2</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.approver_list[1]"
                :options="userData2"
                @change="checkApprover()"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ลำดับที่ 3</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.approver_list[2]"
                :options="userData2"
                @change="checkApprover()"
              ></b-form-select>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form }}
      </pre
          >
        </b-card>
      </b-modal>
      <!-- modal edit -->
      <b-modal id="modal-2" size="lg" title="แก้ไขลำดับผู้พิจารณา" ok-title = "ตกลง" cancel-title = "ยกเลิก" @close="reset" @ok="editApprover" @cancel="reset">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ชื่อ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="name"
                v-model="form2.approver_name"
                placeholder="ตัวอย่าง ผู้พิจารณาแบบที่ 1"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ลำดับที่ 1</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.approver_list[0]"
                :options="userData2"
                @change="checkApproveredit()"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ลำดับที่ 2</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.approver_list[1]"
                :options="userData2"
                @change="checkApproveredit()"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="name">ลำดับที่ 3</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.approver_list[2]"
                :options="userData2"
                @change="checkApproveredit()"
              ></b-form-select>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form2 }}
      </pre
          >
        </b-card>
      </b-modal>
    <div style="margin-top: 30px; width: 1100px;">
  <h1 id="topic">การจัดการลำดับผู้พิจารณา</h1>
  <b-row class="w-100 d-flex justify-content-end no-gutters">
      <b-button variant="outline-success" v-b-modal.modal-1
        >เพิ่ม<b-icon icon="plus-circle" scale="1" class="ml-2"></b-icon
      ></b-button>
  </b-row>
  <div style="height: 550px; width: 1100px; overflow-y: scroll;">
  <div style="height: 800px;">
    <b-card-group v-for="form in approvers.data" :key="form._id">
      <b-card bg-variant="light" class="mt-2 text-left">
        <b-card-text>
          <b-row class="w-100 no-gutters">
            <b-col cols="6" class="w-75"
              ><b-icon icon="bookmark-fill" scale="1"></b-icon>
              &nbsp;&nbsp;&nbsp;ลำดับ{{ form.approver_name }}</b-col
            >
            <b-col class="d-flex justify-content-end">
              <b-icon
                @click="getOneApprover(form._id)"
                v-b-modal.modal-2
                icon="pencil-fill"
                scale="1"
              ></b-icon
              >&nbsp;&nbsp;&nbsp;<b-icon icon="trash-fill" @click="deleteApprover(form._id)" scale="1"></b-icon>
            </b-col>
          </b-row>
        </b-card-text>
        <b-card-text v-for="name in form.approver_list" :key="name._id">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
            name.firstname
          }}&nbsp;&nbsp;{{ name.lastname }}
        </b-card-text>
        <b-row> </b-row>
      </b-card>
    </b-card-group>
  </div>
  </div>
    </div>
  </div>
</template>
<script>
import { getApprovers, addApprover, updateApprover, getApprover, deleteApprover } from '../service/approver'
import { getUserByAgency, getUser } from '../service/user'
export default {
  data () {
    return {
      tempApprover: [],
      approvers: [],
      userlist: [],
      users: [],
      selected: null,
      userData: [{ value: 'น้อง', text: 'จองกุก', disabled: false }],
      userData2: [],
      form: {
        approver_name: '',
        approver_list: ['', '', ''],
        agency: ''
      },
      form2: {
        _id: '',
        approver_name: '',
        approver_list: [],
        agency: ''
      }
    }
  },
  methods: {
    async getApprover () {
      this.approvers = await getApprovers(
        JSON.parse(localStorage.getItem('user'))._id
      )
      console.log(this.approvers)
      console.log(JSON.stringify(this.approvers.data.length))
      this.approvers.data.forEach((item) => {
        console.log(item.approver_list)
      })
      console.log(this.userlist)
    },
    async editApprover () {
      console.log('fahhh', this.form2)
      console.log('how long is fah', this.form2.approver_list.length)
      var review = this.form2.approver_list
      var check = false
      review.forEach(function (item, index, object) {
        if (item === '') {
          // console.log('bnm', item)
          // object.splice(index, 1)
          check = true
        }
      })
      if (check === false) {
        await updateApprover(this.form2._id, this.form2)
      } else {
        alert('กรุณาเลือกผู้พิจารณาให้ครบ 3 ลำดับฮ้าฟน้องๆ')
      }
      console.log(review)
      // this.form2.approver_list = review
      console.log('jaemin', this.form2)
      // location.reload()
    },
    async getUsers () {
      this.users = await getUserByAgency(
        JSON.parse(localStorage.getItem('user'))._id
      )
      const useragency = await getUser(
        JSON.parse(localStorage.getItem('user'))._id
      )
      this.form.agency = useragency.data.agency
      console.log('user', this.users)
      this.userData = this.users.data
      this.userData.forEach((item) => {
        const name = item.firstname + ' ' + item.lastname
        const x = { value: item._id, text: name, disabled: false }
        console.log(x)
        this.userData2.push(x)
      })
      console.log('userData', this.userData)
      console.log('length', this.userData.length)
    },
    checkApprover () {
      this.userData2.forEach((item) => {
        console.log('P jaemin', item)
        if (this.form.approver_list.includes(item.value)) {
          item.disabled = true
          console.log('nong jeno', item)
        } else {
          item.disabled = false
        }
      })
    },
    checkApproveredit () {
      this.userData2.forEach((item) => {
        console.log('P jaemin', item)
        if (this.form2.approver_list.includes(item.value)) {
          item.disabled = true
          console.log('nong jeno', item)
        } else {
          item.disabled = false
        }
      })
    },
    async submit () {
      const approvers = JSON.parse(JSON.stringify(this.form))
      console.log(approvers)
      var review = this.form.approver_list
      var check = false
      review.forEach(function (item, index, object) {
        if (item === '') {
          // console.log('bnm', item)
          // object.splice(index, 1)
          check = true
        }
      })

      if (check === false) {
        if (this.form.approver_name === '') {
          alert('กรุณากรอกชื่อ')
        } else {
          await addApprover(this.form)
        }
      } else {
        alert('กรุณาเลือกผู้พิจารณาให้ครบ 3 ลำดับฮ้าฟพรี่ๆ')
      }

      console.log(review)
      // await addApprover(this.form)
      location.reload()
      this.reset()
    },
    reset () {
      this.form = {
        approver_name: '',
        approver_list: ['', '', ''],
        agency: ''
      }
      this.form2 = {
        approver_name: '',
        approver_list: [],
        agency: ''
      }
      this.checkApprover()
      this.checkApproveredit()
    },
    async getOneApprover (id) {
      this.form2 = JSON.parse(JSON.stringify((await getApprover(id)).data))
      console.log(typeof (this.form2))
      console.log(typeof (this.form))
      console.log(this.form2)
      this.checkApprover()
      this.checkApproveredit()
    },
    async deleteApprover (id) {
      let text
      if (confirm('คุณต้องการลบหรือไม่?') === true) {
        await deleteApprover(id)
        location.reload()
      } else {
        text = 'You canceled!'
      }
      console.log('id na' + id)
      console.log(text)
    }
  },
  mounted () {
    this.getApprover()
    this.getUsers()
    this.getOneApprover()
  },
  computed: {}
}
</script>
<style>
.modal-1 {
  display: table;
}
</style>
