<template>
  <div style="margin-top: 30px;">
  <h1 id="topic">รายการคำขอจอง</h1>
  <div style="margin-top: 40px; height: 550px; width: 1140px; overflow-y: scroll;">
  <div style="margin-top: 40px; height: 700px;">
    <b-card-group v-for="form in reservation.data" :key="form._id">
      <b-card bg-variant="light" class="mt-2 text-left">
        <b-card-text
        ><b-icon icon="bookmark-fill" scale="2"></b-icon
        >&nbsp;&nbsp;&nbsp;{{form.room.room_name}}: {{form.room.building.building_name}}</b-card-text>
        <b-card-text style="margin-left:30px;">ผู้จอง: {{ form.booker.firstname}} &nbsp;&nbsp; {{form.booker.lastname}}</b-card-text>
      <b-row>
        <b-button @click="getDetail(form._id)" style="margin-left: 820px" variant="primary">ดูรายละเอียด</b-button
        >
        <b-button style="margin-left: 10px" variant="success" @click="confirm(form._id)"
          >อนุมัติ</b-button
        >
        <b-button style="margin-left: 10px" variant="danger" @click="noconfirm(form._id)"
          >ไม่อนุมัติ</b-button
        >
      </b-row>
      </b-card>
    </b-card-group>
  </div>
  </div>
  </div>
</template>
<script>
import { getReservation, confirmReservation, noconfirmReservation } from '../service/booking_form'
export default {
  data () {
    return {
      reservation: []
    }
  },
  methods: {
    async getReservations () {
      this.reservation = await getReservation(
        JSON.parse(localStorage.getItem('user'))._id
      )
      console.log(JSON.parse(localStorage.getItem('user'))._id)
      // console.log('Len' + JSON.stringify(this.reservation))
    },
    getDetail (id) {
      this.$router.push('/ReservationDetail/' + id)
    },
    async confirm (id) {
      let text
      if (confirm('คุณต้องการอนุมัติหรือไม่?') === true) {
        await confirmReservation(id)
        location.reload()
      } else {
        text = 'You canceled!'
      }
      console.log('id na' + id)
      console.log(text)
    },
    async noconfirm (id) {
      let text
      if (confirm('คุณต้องการไม่อนุมัติหรือไม่?') === true) {
        await noconfirmReservation(id)
        location.reload()
      } else {
        text = 'You canceled!'
      }
      console.log('id na' + id)
      console.log(text)
    }
  },
  mounted () {
    this.getReservations()
  }
}
</script>
<style>
#topic {
  font-size: 30px;
  font-weight: 500;
}
#text1 {
  margin-left: 750px;
}
#text2 {
  color: slategrey;
  margin-left: 790px;
  font-size: 20px;
}
#text3 {
  color: rgb(0, 205, 27);
  margin-left: 790px;
  font-size: 20px;
}
#texttime {
  margin-left: 15px;
}
</style>
