<template>
  <div>
    <h1 id="topic" class="mt-4">การจัดการข้อมูลตึก</h1>
    <b-row class="w-100 d-flex justify-content-end no-gutters mb-3">
      <b-button variant="outline-success" v-b-modal.modal-1
        >เพิ่ม<b-icon icon="plus-circle" scale="1" class="ml-2"></b-icon
      ></b-button>
      <!-- modal add -->
      <b-modal id="modal-1" size="lg" title="เพิ่มข้อมูลตึก" ok-title = "ตกลง" cancel-title = "ยกเลิก" @ok="submit">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_name">ชื่อตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="building_name"
                v-model="form.building_name"
              ></b-form-input>
            </b-col>
          </b-row>
           <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_nameEng">ชื่อภาษาอังกฤษ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="building_nameEng"
                v-model="form.building_nameEng"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_code">ชื่อย่อตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="building_code"
                v-model="form.building_code"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="agency_name">หน่วยงาน</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.agency_name"
                :options="agencies"
              ></b-form-select>
            </b-col>
          </b-row>
         <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_description">คำอธิบายเกี่ยวกับตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-textarea
                id="textarea"
                v-model="form.building_description"
                placeholder="ตัวอย่าง เป็นตึกที่ใช้ในการเรียนการสอนของคณะวิทยาการสารสนเทศ"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-col>
          </b-row>
          <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="number_of_rooms">จำนวนห้อง</label>
          </b-col>
          <b-col sm="10">
            <b-form-input
            id="number_of_rooms"
            type="number" :min="0"
              v-model="form.number_of_rooms"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_image">รูปตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="building_image"
                v-model="form.building_image"
              ></b-form-input>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form }}
      </pre
          >
        </b-card>
      </b-modal>
    </b-row>
          <!-- modal edit -->
    <b-modal id="modal-2" size="lg" title="แก้ไขมูลตึก" ok-title = "ตกลง" cancel-title = "ยกเลิก" @ok="update" @cancel="cancel">
      <p class="mt-4">
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="building_name">ชื่อตึก</label>
          </b-col>
          <b-col sm="10">
            <b-form-input
              id="building_name"
              v-model="form2.building_name"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_nameEng">ชื่อภาษาอังกฤษ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="building_nameEng"
                v-model="form2.building_nameEng"
              ></b-form-input>
            </b-col>
          </b-row>
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="building_code">ชื่อย่อตึก</label>
          </b-col>
          <b-col sm="10">
            <b-form-input id="building_code" v-model="form2.building_code"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="agency_name">หน่วยงาน</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.agency_name"
                :options="agencies"
              ></b-form-select>
            </b-col>
          </b-row>
         <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_description">คำอธิบายเกี่ยวกับตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-textarea
                id="textarea"
                v-model="form2.building_description"
                placeholder="ตัวอย่าง เป็นตึกที่ใช้ในการเรียนการสอนของคณะวิทยาการสารสนเทศ"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-col>
          </b-row>
        <b-row class="my-1">
          <b-col sm="2" class="mt-2">
            <label for="number_of_rooms">จำนวนห้อง</label>
          </b-col>
          <b-col sm="10">
            <b-form-input
            id="number_of_rooms"
            type="number" :min="0"
              v-model="form2.number_of_rooms"
            ></b-form-input>
          </b-col>
        </b-row>
         <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building_image">รูปตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="building_image"
                v-model="form2.building_image"
              ></b-form-input>
            </b-col>
          </b-row>
      </p>
      <b-card>
        <pre>
        {{ form2 }}
      </pre
        >
      </b-card>
    </b-modal>
    <div>
    <b-table
      sticky-header
      responsive
      hover
      striped
      :items="buildings"
      :fields="items"
      style="min-height: 520px; max-width: 1200px"
    >
      <template #cell(operators)="{ item }" style="width:1500px;">
       <div style="width:150px;"> <b-button @click="editBuilding(item)" v-b-modal.modal-2 >แก้ไข</b-button
        ><b-button class="ml-1"  variant="danger" @click="deleteBuilding(item)"
          >ลบ</b-button
        > </div>
      </template>
    </b-table>
    </div>
  </div>
</template>

<script>
import { getBuildings, addBuilding, getBuilding, updateBuilding, delBuilding } from '../service/building'
import { getAgencies } from '../service/agency'
export default {
  data () {
    return {
      items: [
        {
          key: 'building_name',
          label: 'ชื่อตึก'
        },
        {
          key: 'building_nameEng',
          label: 'ชื่อภาษาอังกฤษ'
        },
        {
          key: 'building_code',
          label: 'ชื่อย่อ'
        },
        {
          key: 'agency_name',
          label: 'หน่วยงาน'
        },
        {
          key: 'building_description',
          label: 'คำอธิบายเกี่ยวกับตึก'
        },
        {
          key: 'number_of_rooms',
          label: 'จำนวนห้อง'
        },
        {
          key: 'building_image',
          label: 'รูปตึก'
        },
        { key: 'operators', label: '' }
      ],
      buildings: [],
      agencies: [],
      form: {
        building_name: '',
        building_nameEng: '',
        building_code: '',
        agency_name: '',
        building_description: '',
        number_of_rooms: '',
        building_image: '',
        rooms: []
      },
      form2: {
        _id: '',
        building_name: '',
        building_nameEng: '',
        building_code: '',
        agency_name: '',
        building_description: '',
        number_of_rooms: '',
        building_image: '',
        rooms: []
      }
    }
  },
  methods: {
    async getBuilding () {
      this.buildings = await (await getBuildings()).data
      this.buildings.forEach((i) => {
        console.log('i is = ', i)
        i.agency_name = i.agency_name.agency_name
      })
      console.log(this.buildings)
    },
    async getAgencies () {
      const ac = await (await getAgencies()).data
      ac.forEach((item) => {
        const x = { value: item._id, text: item.agency_name }
        this.agencies.push(x)
      })
    },
    async submit () {
      await addBuilding(this.form)
      location.reload()
    },
    async editBuilding (item) {
      this.form2 = JSON.parse(JSON.stringify((await getBuilding(item._id)).data))
    },
    async update () {
      await updateBuilding(this.form2, this.form2._id)
      location.reload()
    },
    async cancel () {
      location.reload(true)
    },
    async deleteBuilding (item) {
      if (confirm('คุณต้องการลบหรือไม่?') === true) {
        await delBuilding(item._id)
        location.reload()
      } else {
        console.log('You canceled!')
      }
    }
  },
  mounted () {
    this.getBuilding()
    this.getAgencies()
  }
}
</script>
