<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-row>
            <b-col cols="0" class="mr-3">
              <b-img :src="imgUrl" width="300px" class="pt-2 pb-2" left>
              </b-img>
            </b-col>
            <b-col>
              <b-row class="mt-5" id="bui">{{
                '' + getBuilding().building_name
              }}</b-row>
              <b-row id="faculty">{{
                '' + getBuilding().building_nameEng
              }}</b-row>
              <b-row class="d-flex align-items-center w-100">
                <div class="ddvalue border-right-0 d-flex align-items-center">
                  <div class="ml-5">
                    {{ selectedRoom }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ roomType }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                      roomCapacity
                    }}
                  </div>
                </div>
                <b-dropdown
                  id="dropdown-1"
                  right
                  text=""
                  class="border-left-0"
                  variant="light"
                  style="width:100px; "
                >
                  <b-dropdown-item
                    class="w-100"
                    v-for="item in rooms"
                    :key="item.room_name"
                    :value="item"
                    v-on:click.native="checkRoom(item)"
                  >
                    {{ item.room_name }}&nbsp;&nbsp;
                    {{ 'ประเภทห้อง: ' + item.type_of_room }}&nbsp;&nbsp;
                    {{ 'ความจุ: ' + item.capacity }}</b-dropdown-item
                  >
                </b-dropdown>
                <b-button
                  v-b-modal.modal-1
                  size="sm"
                  variant="light"
                  class="ml-1"
                  v-if="selectedRoom !== null"
                >
                  <b-icon
                    icon="info-circle"
                    scale="1"
                    variant="dark"
                    class="mr-1"
                  ></b-icon>
                </b-button>
                <b-modal id="modal-1" ok-title = "ตกลง" cancel-title = "ยกเลิก">
                  <b-img
                    :src="roomImgUrl"
                    width="300px"
                    class="pt-2 pb-2"
                    center
                  >
                  </b-img>
                </b-modal>
              </b-row>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row> </b-row>
      <b-row>
        <b-col>
          <label for="start-date">วันเริ่มต้น</label>
          <b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
            locale="th"
          >
          </b-form-datepicker>
        </b-col>
        <b-col>
          <label for="start-time">เวลาเริ่มต้น</label>
          <b-input-group class="mb-3">
            <b-form-input
              id="start-time"
              v-model="startTime"
              type="text"
              placeholder="HH:mm"
            ></b-form-input>
            <b-input-group-append>
              <b-form-timepicker
                id="start-time"
                v-model="startTime"
                locale="th"
                button-only
                right
              ></b-form-timepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label for="end-date">วันสิ้นสุด</label>
          <b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker
        ></b-col>
        <b-col>
          <label for="end-time">เวลาสิ้นสุด</label>
          <b-input-group class="mb-3">
            <b-form-input
              id="end-time"
              v-model="endTime"
              type="text"
              placeholder="HH:mm"
            ></b-form-input>
            <b-input-group-append>
              <b-form-timepicker
                id="end-time"
                v-model="endTime"
                locale="th"
                button-only
                right
              ></b-form-timepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button
            @click="addEvent()"
            class="w-100"
            style="background-color: #7287b8; font-size:15px; font-weight:bold"
            >จองห้อง</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col
          ><vue-cal
            :locale="th"
            active-view="week"
            :disable-views="['years', 'year']"
            :events="events"
            @ready="ready()"
            @view-change="viewChange()"
            style="height: 500px; width: 1110px"
        /></b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
import { getRoom } from '../service/room'
import { getBookingFormsByRoomID, addBookingForm } from '../service/booking_form'

export default {
  data () {
    return {
      room_name: '',
      title: '',
      start: '',
      end: '',
      approver: [],
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      events: [
        {
          room_name: 'x',
          title: 'x',
          start: '2022-03-20 20:40',
          end: '2022-03-20 21:40',
          approver: []
        }
      ],
      rooms: [],
      selectedRoom: null,
      roomType: 'กรุณาเลือกห้อง',
      roomCapacity: '',
      roomImage: 'labIF.jpg',
      roomId: '',
      roomX: null,
      overlapping: false
    }
  },
  mounted () {
    this.getRooms()
  },
  methods: {
    async addEvent () {
      var event = null
      if (this.roomId === '' || this.startTime === '' || this.endTime === '' || this.startDate === '' || this.endDate === '') {
        alert('กรุณากรอกข้อมูลให้ครบถ้วน')
      } else {
        event = {
          room: this.roomId,
          booker: JSON.parse(localStorage.getItem('user'))._id,
          start_time: new Date(this.startDate + ' ' + this.startTime),
          end_time: new Date(this.endDate + ' ' + this.endTime),
          approvers: this.roomX.approver
        }
        for (let i = 0; i < this.events.length; i++) {
          if ((this.events[i].start <= event.end_time) && (event.start_time <= this.events[i].end)) {
            this.overlapping = true
          }
        }
        if (this.overlapping !== true && event.start_time < event.end_time) {
          console.log('addEvent = ' + JSON.stringify(event))
          await addBookingForm(event)
          this.ready()
          alert('ส่งข้อมูลการจองสำเร็จ')
        } else if (event.start_time >= event.end_time) {
          alert('การมีสติเป็นเรื่องสำคัญ')
        } else {
          alert('ห้องที่ท่านเลือกถูกจองไปแล้ว')
        }
        this.overlapping = false
      }// this.events.push(event)
    },

    async ready () {
      console.log('jm', this.roomX)
      // console.log('ready', e)
      // console.log(e)
      if (this.roomX !== null) {
        const res = await getBookingFormsByRoomID(this.roomX._id)
        console.log(res.data)
        try {
          const newEvents = res.data.map(function (event) {
            console.log()
            return {
              room_name: event.room,
              title: event.booker.firstname + ' ' + event.booker.lastname,
              start: new Date(event.start_time),
              end: new Date(event.end_time),
              approver: event.approvers
            }
          })
          this.events = newEvents
          console.log(this.events)
        } catch (e) {
          console.log(e)
        }
      }
    },
    async viewChange () {
      if (this.roomX !== null) {
        console.log('view-change')
        // const res = await getEvents(e.startDate, e.endDate)
        const res = await getBookingFormsByRoomID(this.roomX._id)
        console.log('dy', this.roomX._id)
        console.log(res.data)
        try {
          const newEvents = res.data.map(function (event) {
            console.log()
            return {
              room_name: event.room_name,
              title: event.booker.firstname + ' ' + event.booker.lastname,
              start: new Date(event.start_time),
              end: new Date(event.end_time),
              approver: event.approvers
            }
          })
          this.events = newEvents
          console.log(this.events)
        } catch (e) {
          console.log(e)
        }
      }
    },
    getBuilding () {
      return JSON.parse(localStorage.getItem('building'))
    },
    getRooms () {
      const roomsArray = JSON.parse(localStorage.getItem('building')).rooms
      for (var i = 0; i < roomsArray.length; i++) {
        getRoom(roomsArray[i]).then((response) => {
          // console.log('response = ' + JSON.stringify(response))
          this.rooms.push(response.data)
        })
      }
      console.log(this.rooms)
    },
    checkRoom: function (x) {
      this.selectedRoom = x.room_name
      this.roomId = x._id
      this.roomX = x
      this.roomType =
        'ประเภทห้อง: ' + JSON.parse(JSON.stringify(x.type_of_room))
      this.roomCapacity = 'ความจุ: ' + x.capacity
      console.log('selectedRoom = ' + this.selectedRoom)
      localStorage.setItem('room', JSON.stringify(this.selectedRoom))
      this.roomImage = x.room_image
      console.log('ddddddddd' + this.roomImage)
      // this.$router.push({ path: '/Calendar' })
      this.ready()
    }
  },
  computed: {
    th () {
      return th
    },
    imgUrl: function () {
      console.log(
        '../assets/' +
          JSON.parse(localStorage.getItem('building')).building_image
      )
      return require('../assets/' +
        JSON.parse(localStorage.getItem('building')).building_image)
    },
    roomImgUrl: function () {
      console.log('../assets/rooms/' + this.roomImage)
      return require('../assets/rooms/' + this.roomImage)
    }
  },
  components: {
    VueCal
  }
}
</script>
<style>
.vuecal__now-line {
  color: #06c;
}
.vuecal__event.vdo_time {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
#bui {
  margin-top: 20px;
  margin-right: 300px;
  font-size: 20px;
  /* font-weight: 100; */
}
#faculty {
  font-size: 30px;
  font-weight: 700;
}

#dropdown-1 {
  border: 2px solid rgb(16, 6, 59);
  margin: 0;
}

.ddvalue {
  border: 2px solid rgb(16, 6, 59);
  width: 650px;
  height: 41px;
  /* background-color: #06c; */
}
</style>
