<template>
  <b-container style="width: 2000px">
    <b-row>
      <b-col cols="1"></b-col>
      <b-col cols="3">
        <div class="mt-4" style="width: 900px; height: 400px">
          <b-card no-body class="overflow-hidden" style="max-width: 1000px" >
            <b-row no-gutters>
              <b-col md="6">
                <b-card
                  img-src="../assets/login2.png"
                  alt="Image"
                  class="rounded-0"
                ></b-card>
              </b-col>
              <b-col md="6">
                <b-card-body title="Login">
                  <b-card-text>
                    <div style="text-align: justify">
                      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                        <b-form-group
                          id="input-group-1"
                          label="Email address:"
                          label-for="input-1"
                        >
                          <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            placeholder="Enter email"
                            required
                          ></b-form-input>
                        </b-form-group>

                        <b-form-group
                          id="input-group-2"
                          label="Password:"
                          label-for="input-2"
                        >
                          <b-form-input
                            id="input-2"
                            v-model="form.password"
                            placeholder="Enter password"
                            type="password"
                            required
                          ></b-form-input>
                        </b-form-group>
                        <b-button type="reset" variant="danger">Reset</b-button>
                        <b-button type="submit" variant="primary" class="m-2"
                          >Login</b-button
                        >
                      </b-form>
                    </div>
                    {{ $store.state.auth.user }}
                    {{ $store.getters['auth/isLogin'] }}
                  </b-card-text>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      //   alert(JSON.stringify(this.form))
      this.$store.dispatch('auth/login', this.form)
      console.log(this.form.email)
      console.log(this.form.password)
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
<style scoped>
input-1 {
  height: 3pt;
  width: 50pt;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  color: #42b983;
}
</style>
