<template>
  <b-container class="w-100" style="margin-top: 40px">
    <b-row>
      <b-col cols="5">
        <b-row>
          <b-col
            ><div style="widht: 100px; height: 150px; background-color: #fff">
              <b-text id="text5"
                ><b-icon icon="exclamation-circle-fill" scale="1"></b-icon
                >&nbsp;รายละเอียดห้อง</b-text
              ><br /><b-text id="text6"
                ><b-icon icon="geo-alt-fill" scale="1"></b-icon>&nbsp;&nbsp;อาคาร {{ detail.data.room.room_name }}</b-text
              ><br /><b-text id="text7"
                ><b-icon icon="tag-fill" scale="1"></b-icon>&nbsp;&nbsp;ประเภทห้อง
                {{
                 detail.data.room.type_of_room[0]
                }}</b-text
              >
              <br /><b-text id="text8"><b-icon icon="people-fill" scale="1"></b-icon>&nbsp;&nbsp;ความจุ {{ detail.data.room.capacity }}</b-text>
            </div></b-col
          >
        </b-row>
        <b-row>
          <b-col
            ><div style="widht: 100px; height: 150px; background-color: #fff">
              <b-text id="text9"
                ><b-icon icon="exclamation-circle-fill" scale="1"></b-icon
                >&nbsp;อุปกรณ์</b-text
              ><br /><b-text id="text10">-ไมค์</b-text><br /><b-text
                id="text11"
                >-ปลั๊กพ่วง</b-text
              >
              <br /><b-text id="text12">-ปากกาไวท์บอร์ด</b-text>
            </div></b-col
          ></b-row
        >
        <b-row>
          <b-col
            ><div style="widht: 100px; height: 150px; background-color: #fff">
              <b-text id="text9"
                ><b-icon icon="check-circle-fill" scale="1"></b-icon
                >&nbsp;ผู้จอง</b-text
              ><br /><b-text id="text13">-{{detail.data.booker.firstname}} &nbsp; {{detail.data.booker.lastname}}</b-text
              ><br /><b-text id="text14">-วันและเวลาเริ่มต้น {{new Date(detail.data.start_time).toLocaleString()}}</b-text> <br /><b-text
                id="text15"
                >-วันและเวลาสิ้นสุด {{new Date(detail.data.end_time).toLocaleString()}}</b-text
              >
            </div></b-col
          ></b-row
        >
      </b-col>
      <b-col>
        <b-img
          :src= "roomImgUrl"
          width="600px"
          height="450px"
          class="pt-2 pb-2"
          center
        ></b-img>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { getEvent } from '../service/booking_form'
export default {
  data () {
    return {
      id: this.$route.params.id,
      detail: ''
    }
  },
  methods: {
    async getEvent () {
      this.detail = await getEvent(this.id)
      console.log(this.detail)
    }
  },
  mounted () {
    this.getEvent()
  },
  computed: {
    roomImgUrl: function () {
      console.log('../assets/rooms/' + JSON.parse(JSON.stringify(this.detail)))
      return require('../assets/rooms/' + JSON.parse(JSON.stringify(this.detail)).data.room.room_image)
    }
  }
}
</script>
<style>
#text1 {
  margin-right: 280px;
}
#text2 {
  margin-right: 220px;
}
#text3 {
  margin-right: 210px;
}
#text4 {
  margin-right: 280px;
}
#text5 {
  margin-right: 300px;
}
#text6 {
  margin-right: 250px;
}
#text7 {
  margin-right: 185px;
}
#text8 {
  margin-right: 295px;
}
#text9 {
  margin-right: 355px;
}
#text10 {
  margin-right: 350px;
}
#text11 {
  margin-right: 320px;
}
#text12 {
  margin-right: 270px;
}
#text13 {
  margin-right: 257px;
}
#text14 {
  margin-right: 95px;
}
#text15 {
  margin-right: 98px;
}

</style>
