<template>
  <div>
    <h1 id="topic" class="mt-4">การจัดการห้อง</h1>
    <b-row class="w-100 d-flex justify-content-end no-gutters mb-3">
      <b-button variant="outline-success" v-b-modal.modal-1
        >เพิ่ม<b-icon icon="plus-circle" scale="1" class="ml-2"></b-icon
      ></b-button>
      <!-- modal add -->
      <b-modal id="modal-1" size="lg" title="เพิ่มข้อมูลห้อง" ok-title = "ตกลง" cancel-title = "ยกเลิก" @ok="submit" @cancel="cancel">
        <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="room_name">ชื่อห้อง</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="room_name"
                v-model="form.room_name"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building">ชื่อตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.building"
                :options="buildings"
              ></b-form-select>
            </b-col>
          </b-row>
         <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="type_of_room">ประเภทห้อง</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.type_of_room"
                :options="typex"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="capacity">ความจุ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                type="number"
                :min="0"
                id="capacity"
                v-model="form.capacity"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="approver">ผู้พิจารณา</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form.approver"
                :options="approvers"
              ></b-form-select>
            </b-col>
          </b-row>
           <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="room_image">รูปห้อง</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                type="text"
                id="room_image"
                v-model="form.room_image"
              ></b-form-input>
            </b-col>
          </b-row>
        </p>
        <b-card>
          <pre>
        {{ form }}
      </pre
          >
        </b-card>
      </b-modal>
    </b-row>
    <!-- modal edit -->
    <b-modal id="modal-2" size="lg" title="แก้ไขข้อมูลห้อง" ok-title = "ตกลง" cancel-title = "ยกเลิก" @ok="update" @cancel="cancel">
      <p class="mt-4">
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="room_name">ชื่อห้อง</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="room_name"
                v-model="form2.room_name"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="building">ชื่อตึก</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.building"
                :options="buildings"
              ></b-form-select>
            </b-col>
          </b-row>
         <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="type_of_room">ประเภทห้อง</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.type_of_room"
                :options="typex"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="capacity">ความจุ</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                type="number"
                :min="0"
                id="capacity"
                v-model="form2.capacity"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="approver">ผู้พิจารณา</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="form2.approver"
                :options="approvers"
              ></b-form-select>
            </b-col>
          </b-row>
           <b-row class="my-1">
            <b-col sm="2" class="mt-2">
              <label for="room_image">รูปห้อง</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                type="text"
                id="room_image"
                v-model="form2.room_image"
              ></b-form-input>
            </b-col>
          </b-row>
        </p>
      <b-card>
        <pre>
        {{ form2 }}
      </pre
        >
      </b-card>
    </b-modal>
    <b-table
      sticky-header
      responsive
      hover
      :items="rooms"
      :fields="items"
      style="min-height: 550px; min-width: 1220px"
    >
      <template #cell(operators)="{ item }">
        <b-button @click="editRoom(item)"  v-b-modal.modal-2>แก้ไข</b-button
        ><b-button class="ml-3" variant="danger" @click="deleteRoom(item)"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import { getApprovers } from '../service/approver'
import { getBuildings } from '../service/building'
import { getRoomsByAgency, getRoom, addRoom, updateRoom, delRoom } from '../service/room'
import { getUser } from '../service/user'
export default {
  data () {
    return {
      userAgency: '',
      typex: [
        { value: ['ห้องเรียน'], text: 'ห้องเรียน' },
        { value: ['ห้องปฏิบัติการ'], text: 'ห้องปฏิบัติการ' },
        { value: ['ห้องประชุม'], text: 'ห้องประชุม' }
      ],
      items: [
        {
          key: 'room_name',
          label: 'ชื่อ'
        },
        {
          key: 'building',
          label: 'ชื่อตึก'
        },
        {
          key: 'type_of_room',
          label: 'ประเภทห้อง'
        },
        {
          key: 'capacity',
          label: 'ความจุ'
        },
        {
          key: 'approver',
          label: 'ผู้พิจารณา'
        },
        {
          key: 'room_image',
          label: 'รูปห้อง'
        },
        { key: 'operators', label: '' }
      ],
      approvers: [],
      rooms: [],
      buildings: [],
      form: {
        room_name: '',
        building: '',
        type_of_room: [],
        capacity: '',
        approver: '',
        room_image: ''
      },
      form2: {
        _id: '',
        room_name: '',
        building: '',
        type_of_room: [],
        capacity: '',
        approver: '',
        room_image: ''
      }
    }
  },
  methods: {
    async getRoom () {
      const user = await (await getUser(JSON.parse(localStorage.getItem('user'))._id)).data
      this.userAgency = user.agency
      console.log('user', user)
      this.rooms = await (await getRoomsByAgency(user.agency)).data
      this.rooms.forEach((i) => {
        console.log('i is = ', i)
        i.building = i.building.building_name
        i.type_of_room = i.type_of_room.toString()
        i.approver = i.approver.approver_name
      })
      console.log(this.rooms)
    },
    async getApprovers () {
      const ac = await (await getApprovers(JSON.parse(localStorage.getItem('user'))._id)).data
      console.log('ac ', ac)
      ac.forEach((item) => {
        const x = { value: item._id, text: item.approver_name }
        this.approvers.push(x)
      })
    },
    async getBuildings () {
      const bd = await (await getBuildings()).data
      console.log('bd ', bd)
      bd.forEach((item) => {
        if (this.userAgency === item.agency_name._id) {
          const x = { value: item._id, text: item.building_name }
          this.buildings.push(x)
        }
      })
    },
    async submit () {
      console.log('ทดสอบ', this.form)
      await addRoom(this.form)
      location.reload()
    },
    async editRoom (item) {
      this.form2 = JSON.parse(JSON.stringify((await getRoom(item._id)).data))
    },
    async update () {
      console.log('test', this.form2)
      await updateRoom(this.form2._id, this.form2)
      location.reload()
    },
    async cancel () {
      console.log('You canceled modal!')
      this.reset()
      // location.reload(true)
    },
    reset () {
      this.form = {
        room_name: '',
        building: '',
        type_of_room: [],
        capacity: '',
        approver: '',
        room_image: ''
      }
    },
    async deleteRoom (item) {
      if (confirm('คุณต้องการลบหรือไม่?') === true) {
        await delRoom(item._id)
        location.reload()
      } else {
        console.log('You canceled!')
      }
    }
  },
  mounted () {
    this.getRoom()
    this.getApprovers()
    this.getBuildings()
  }
}
</script>
