<template>
  <div style="margin-top: 30px;">
  <h1 id="topic">รายการจอง</h1>
  <div style="margin-top: 40px; height: 550px; width: 1100px; overflow-y: scroll;">
  <div style="margin-top: 40px; height: 800px;">
    <b-card-group v-for="(form, index) in reservation.data" :key="form._id">
      <b-card bg-variant="light" class="mt-2 text-left">
        <b-card-text
        ><b-icon icon="bookmark-fill" scale="2" style="margin-left:30px;"></b-icon
        > &nbsp; {{form.room.room_name}}: {{form.room.building.building_name}}</b-card-text>
        <b-card-text style="margin-left:30px;">ผู้จอง: {{ form.booker.firstname}} &nbsp;{{form.booker.lastname}}</b-card-text>
         <b-card-text id="status">{{finalstatus_list[index]}}</b-card-text>
         <b-card-text style="margin-left:30px;">วันและเวลาเริ่มต้น: {{new Date(form.start_time).toLocaleString()}}</b-card-text>
        <b-card-text style="margin-left:30px;">วันและเวลาสิ้นสุด: {{new Date(form.end_time).toLocaleString()}}</b-card-text>
      <b-row>
        <b-button @click="getDetail(form._id)" style="margin-left: 820px" variant="primary">ดูรายละเอียด</b-button
        >
        <b-button style="margin-left: 10px" variant="danger" @click="cancelReservation(form._id)"
        >ยกเลิกการจอง</b-button
        >
      </b-row>
      </b-card>
    </b-card-group>
  </div>
  </div>
  </div>
</template>
<script>
import { getBookingFormsByUserId, deleteBookingForm } from '../service/booking_form'
export default {
  data () {
    return {
      reservation: '',
      finalstatus: 'อนุมัติ',
      test: 'รออนุมัติ',
      finalstatus_list: []
    }
  },
  methods: {
    async getReservations () {
      this.reservation = await getBookingFormsByUserId(
        JSON.parse(localStorage.getItem('user'))._id
      )
      console.log('1234567899999999999999', this.reservation.data)
      const form = this.reservation.data
      console.log(form.length)
      for (let i = 0; i < form.length; i++) {
        const approve = form[i].approvers
        console.log(approve)
        console.log(approve.length)
        for (let j = 0; j < approve.length; j++) {
          if (approve[j].booking_status === 'ไม่อนุมัติ') {
            this.finalstatus = 'ไม่อนุมัติ'
            console.log('n' + approve[j].booking_status)
            break
          } else if (approve[j].booking_status === 'รอการอนุมัติ') {
            this.finalstatus = 'รอการอนุมัติ'
            console.log('w' + approve[j].booking_status)
          }
        }
        this.finalstatus_list.push(this.finalstatus)
        this.finalstatus = 'อนุมัติ'
      }
      console.log(this.finalstatus_list)
      setTimeout(() => {
        this.test = 'อนุมัติ'
      }, 1000)
      console.log(JSON.parse(localStorage.getItem('user'))._id)
    },
    async getfinalstatus () {
      const form = this.reservation.data
      console.log(form.length)
      for (let i = 0; i < form.length; i++) {
        const approve = form[i].approvers
        console.log(approve)
        console.log(approve.length)
        for (let j = 0; j < approve.length; j++) {
          if (approve[j].booking_status === 'ไม่อนุมัติ') {
            this.finalstatus = 'ไม่อนุมัติ'
            console.log('n' + approve[j].booking_status)
            break
          } else if (approve[j].booking_status === 'รอการอนุมัติ') {
            this.finalstatus = 'รอการอนุมัติ'
            console.log('w' + approve[j].booking_status)
          }
        }
      }
      console.log(this.finalstatus)
      setTimeout(() => {
        this.test = 'อนุมัติ'
      }, 1000)
      console.log(JSON.parse(localStorage.getItem('user'))._id)
    },

    getDetail (id) {
      this.$router.push('/ReservationDetail/' + id)
    },

    async cancelReservation (id) {
      let text
      if (confirm('คุณต้องการยกเลิกการจองหรือไม่?') === true) {
        await deleteBookingForm(id)
        location.reload()
      } else {
        text = 'You canceled!'
      }
      console.log('id na' + id)
      console.log(text)
    }
  },
  mounted () {
    this.getReservations()
  }
}
</script>
<style>
#topic {
  font-size: 30px;
  font-weight: 500;
}
#text1 {
  margin-left: 750px;
}
#text2 {
  color: slategrey;
  margin-left: 790px;
  font-size: 20px;
}
#text3 {
  color: rgb(0, 205, 27);
  margin-left: 790px;
  font-size: 20px;
}
#status {
  margin-left:30px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(79, 86, 94);
}
#texttime {
  margin-left: 15px;
}
</style>
