<template>
  <div class="hello">
    <b-row class="no-gutters d-flex justify-content-center">
      <b-col cols="12" class="d-flex flex-row">
      </b-col>
    </b-row>
    <b-img
      src="../assets/picmain.jpg"
      width="1050px"
      class="pt-2 pb-2"
      center
    ></b-img>
  </div>
</template>

<script>

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  color: #42b983;
}
#dropdown-1{
  /* background-color: aqua;
  border-color: blue; */
  border: 2px solid rgb(16, 6, 59);
}
</style>
