<template>
  <div class="hello">
    <b-row class="no-gutters d-flex justify-content-center">
      <b-col cols="12" class="d-flex flex-row">
        <b-dropdown id="dropdown-1" text="กรุณาเลือกคณะ" class="m-md-2 w-100" variant="light">
         <b-dropdown-item  class="w-100" v-for="item in buildings" :key="item.building_name" :value="item" v-on:click.native ="checkValue(item)">{{ item.building_name }}</b-dropdown-item>
      </b-dropdown>
      </b-col>
    </b-row>
    <b-img
      src="../assets/picmain.jpg"
      width="1050px"
      class="pt-2 pb-2"
      center
    ></b-img>
  </div>
</template>

<script>
import { getBuildings } from '../service/building.js'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      buildings: [],
      selected: null

    }
  },
  mounted () {
    this.getBuildings()
  },
  methods: {
    getBuildings () {
      getBuildings().then((response) => {
        this.buildings = response.data
      }
      )
      console.log(this.buildings)
    },
    checkValue: function (x) {
      this.selected = x
      console.log('booofoo' + this.selected)
      localStorage.setItem('building', JSON.stringify(this.selected))
      this.$router.push({ path: '/Calendar' })
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  color: #42b983;
}
#dropdown-1{
  /* background-color: aqua;
  border-color: blue; */
  border: 2px solid rgb(16, 6, 59);
}
</style>
