<template>
  <div class="app-menu">
    <!-- <b-img
      src="../assets/buu.png"
      width="80px"
      class="pt-4 pb-2"
      center
    ></b-img> -->
    <b-nav vertical >
      <b-nav-item style="font-size: 15pt" to="/" v-if="(isLogin && getStatus() !== 3) && (isLogin && getStatus() !== 4)">หน้าหลัก</b-nav-item>
      <b-nav-item style="font-size: 15pt" to="/HomePageNotLogin" v-if="(isLogin && getStatus() === 3) || (isLogin && getStatus() === 4) || !isLogin">หน้าหลัก</b-nav-item>
      <div class="login" >
     <!-- <b-card class="piclog" img-src="../assets/buu.png" img-left="10"> -->
     <b-nav-item style="font-size: 15pt " to="/UserReservation" v-if="(isLogin && getStatus() === 1) || (isLogin && getStatus() === 2)|| (isLogin && getStatus() === 5)"
        >รายการจอง
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/ApproverReservation" v-if="isLogin && getStatus() === 2"
        >รายการคำขอจอง
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/Room" v-if="isLogin && getStatus() === 3"
        >จัดการห้อง
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/Approver" v-if="isLogin && getStatus() === 3"
        >จัดการลำดับผู้พิจารณา
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/AgencyUser" v-if="isLogin && getStatus() === 3"
        >จัดการข้อมูลคนในหน่วยงาน
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/User" v-if="isLogin && getStatus() === 4"
        >จัดการบัญชีผู้ใช้ในระบบ
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/Agency" v-if="isLogin && getStatus() === 4"
        >จัดการข้อมูลหน่วยงาน
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/Building" v-if="isLogin && getStatus() === 4"
        >จัดการข้อมูลตึก
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/login" v-if="!isLogin"
        >เข้าสู่ระบบ
      </b-nav-item>
      <b-nav-item style="font-size: 15pt " to="/login" @click="logout()" v-if="isLogin"
        >ออกจากระบบ
      </b-nav-item>
      <!-- </b-card> -->
      </div>
    </b-nav>
  </div>
</template>
<script>
// import {getUser} from '../service/user'
export default {
  data () {
    return {
      // showFormInput: false,
      // showForm: false,
      // showCrudExample: false
    }
  },
  // props: {
  //   msg: String
  // },
  methods: {
    // login () {
    //   this.$router.push('/login')
    // },
    logout () {
      this.$store.dispatch('auth/logout')
    },
    getStatus () {
      const status = JSON.parse(localStorage.getItem('status'))
      console.log(status)
      if (status.includes('นิสิต')) {
        console.log(`status = ${status}`)
        return 1
      } else if (status.includes('ผู้พิจารณา')) {
        return 2
      } else if (status.includes('แอดมินหน่วยงาน')) {
        return 3
      } else if (status.includes('แอดมินระบบ')) {
        return 4
      } else if (status.includes('อาจารย์')) {
        return 5
      }
      return 0
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
    // ,loginString () {
    //   return this.$store.getters['auth/isLogin'] ? 'Login' : 'Logout'
    // }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  width: 270px;
  height: 130%;
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
.login{
  margin-top:auto px;
  margin-trim: auto;

}
.piclog{
  width: 5pt;
  height: 5pt;
}
</style>
