<template class="pt-3">
  <div>
    <b-navbar style="background-color: #e6ecfa">
      <b-collapse id="nav-collapse" is-nav>
        <div class="buu-img">
          <b-img src="../assets/buu.png" width="80px" class="" center></b-img>
        </div>
        <div>
          <b-col class="buu-name"> ระบบจองห้องมหาวิทยาลัยบูรพา </b-col>
        </div>
        <b-col cols="6"></b-col>
          <b-col cols="0">
            <div v-if="isLogin">
              <img src="../assets/logoUserr.png" class="img">
            </div>
        </b-col>
        <b-col v-if="isLogin && getStatus !== 'null'">
          <b-row>&nbsp;&nbsp;{{ getName() }}</b-row>
          <b-row>&nbsp;&nbsp;สถานะ: {{ getStatus() }}</b-row>
        </b-col>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<style>
.buu-img {
  width: 100px;
}
.buu-name {
  font-size: 25px;
}
.img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
</style>
<script>
// import axios from 'axios'
// import x from '../views/Login.vue'
export default {
  data () {
    return {
      // user: '' + localStorage.getItem('status')
    }
  },
  methods: {
    getStatus () {
      return '' + JSON.parse(localStorage.getItem('status'))
    },
    getName () {
      return (
        '' +
        localStorage.getItem('firstname') +
        ' ' +
        localStorage.getItem('lastname')
      )
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
  // mounted () {

  // }
}
</script>
